* {
  padding: 0;
  margin: 0;
}



/* Works on Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: rgb(255, 255, 255) rgb(62, 62, 62);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  padding: 2px 2px;
}

*::-webkit-scrollbar-track {
  background: rgb(79, 78, 78);
  padding: 2px 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  padding: 2px 2px;
}




@font-face {
  font-family: Biotif-regular;
  src: url("./Fonts/Biotif-Regular.ttf");
}

@font-face {
  font-family: Bogart-Medium;
  src: url("./Fonts/Bogart.ttf");
}

:root {
  --bg-main-col: rgb(21, 21, 21);
  --body-font: Biotif;
  --timeline-border: rgb(79 79 79);
}

body {
  color: aliceblue;
  background-color: var(--bg-main-col);
  font-family: Biotif-regular;
  min-height: 100vh;
  background-image: url("./img/World\ Map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.drop {
  overflow-y: hidden;
  height: 30px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 5px 10px;
  min-width: fit-content;
}

.nav ul li {
  padding: 5px 10px;
}

.nav ul:nth-child(2) {
  justify-content: center;
}

.nav ul:nth-child(3) {
  justify-content: right;
}

.btn-active {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.btn {
  transition: border-bottom 0.5s;
  cursor: pointer;
}

.btn:hover {
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.eye-outer {
  position: relative;
  padding: 1px 15px;
  background-color: aliceblue;
  border-radius: 50%;
}

.dot {
  position: absolute;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -100%);
}
.frame {
  top: 0px;
  left: 10px;
  position: absolute;
  padding: 11px 5px;
}

.pagearea {
  position: relative;
  max-width: 100%;
  min-height: 90vh;
  background-color: rgba(19, 19, 19, 0.552);
  backdrop-filter: blur(5px);
}

.more {
  display: none;
}

.page {
  display: none;
  max-width: 100%;

  border-radius: 20px;
  
  backdrop-filter: blur(5px);
  min-height: 85vh;
  padding: 20px 20px;

}

.main {
  padding: 20px 20px;
}

.gradient h2 {
  color: #fff;
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-family: Bogart-Medium;
  font-weight: 500;
}

.lid {
  transform: translate(3px, 6px);
  position: absolute;
  display: flex;
  gap: 6px;
  transition: transform 0.3s;
}

.lid span {
  padding: 5px 2px;
  border-radius: 10px;
  background-color: #ffffff;
}

.lid span:nth-child(1) {
  transform: rotate(-30deg);
}
.lid span:nth-child(3) {
  transform: rotate(30deg);
}

.translate-up-lid {
  transform: translate(3px, -12px);
}

.content {
  margin: auto auto;
  max-width: 800px;
  padding: 20px 20px;
}

tbody {
  display: flex;
  flex-direction: column;
}

.timeline {
  border-collapse: collapse;
  padding: 5px 10px;
  width: 100%;
}

.timeline tr {
  position: relative;
  padding: 20px 20px;
}

.no-border {
  margin: 50px 0px;
  border-top: 2px solid var(--timeline-border);
  border-bottom: 2px solid var(--timeline-border);
}

.timeline td {
  padding: 5px 10px;
}

.border {
  border-left: 2px solid var(--timeline-border);
}

.icon-img {
  width: 20px;
}

.icon-td img {
  width: 40px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 15px);
}

.heading{
  font-size: 30px;
}

.center{
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardholder{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.card img{
  width: 60%;
  height: auto;
  object-fit: contain;
}

.card{
  max-width: 400px;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: rgba(41, 41, 41, 0.673);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 20px;
  overflow: hidden;
  min-width: 300px;
  width: 50%;
}


.card-title{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content{
  font-size: 20px;
}

.card-button{
  display: flex;
  justify-content: center;
}


.avatar{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.avatar img{
  border-radius: 20px;
  border: 5px solid white;
  max-width: 400px;
}

.details{
  margin-top: 20px;
  background-color: #35353589;
  padding: 10px 20px;
  border-radius: 20px;
}

.details tbody{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details tr{
  border-left: 2px solid white;
}

.details td{
  padding: 5px 10px;
}

.three-dots{
  position: relative;
  display: flex;
  justify-content: end;
}

.three-dots li{
  padding: 5px 5px;
  background-color: inherit;
  cursor: pointer;
  border-radius: 50%;
}

.three-dots li:nth-child(1){
  background-color: #d13952;
}
.three-dots li:nth-child(2){
  background-color: #d1b237;
}
.three-dots li:nth-child(3){
  background-color: #97cf2f;
}

.three-dots ul{
  width: fit-content;
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: end;
}


.contact{
  position: relative;
}


.msg img{
  width: 40px;
  cursor: pointer;
}

.msg{
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 0;
  z-index: 10;
}


/* .chat-box img:nth-child(1){
  width: 40px;
} */

.chat-box{
  font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: absolute;
  background-color: rgb(32, 32, 32);
  bottom: 0;
  right: 20px;
  width: 350px;
  height: 500px;
  display: none;
  flex-direction: column;
  z-index: 20;
  font-size: 14px;
  font-weight: 500;
  /* letter-spacing: 1px; */
}


.chat-box-top{
  margin: 10px auto;
  max-width: 330px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
}


.chat-pic,.chat-close{
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-close div{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.chat-close div:hover{
  background-color: rgb(58, 58, 58);
}


.chat-main{
  width: 330px;
  height: 100%;
  background-color: rgb(42, 42, 42);
  margin: 10px auto;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}



.msg-main{
  max-width: 330px;
  padding: 10px 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.msg-main span{
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
}

.admin-msg{
  max-width: 200px;
  text-align: left;
  background-color: rgb(30, 30, 30);
  /* border: 1px solid rgb(255, 255, 255); */
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.562);
  border-radius: 10px;
  width: fit-content;
  padding: 10px 20px;
  
}

.user-msg{
  max-width: 200px;
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  width: fit-content;
  padding: 10px 20px;
  align-self: end;
  
}

.option-chat{
  background-color: rgb(4, 49, 116);
  max-width: 200px;
  text-align: left;
  border-radius: 40px;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
}

.msg-main::after{
  content: ".";
  margin-top: 15px;
  visibility: hidden;
}

















.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
  cursor: pointer;
 }
 
 .cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
 }
 
 .cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
 }
 
 .cssbuttons-io::before,
 .cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .cssbuttons-io::before {
  content: "";
  background: rgb(63, 63, 63);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 
 .cssbuttons-io:active {
  transform: scale(0.95);
 }

 







.writing{
  display: none;
  position: absolute;
  bottom: 28px;
}

 .wrapper {
  width: 80px;
  height: 10px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .4s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 10px;
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

















 

@media (max-width: 650px) {
  .more {
    display: block;
  }
  .drop {
    flex-direction: column;
    overflow: hidden;
  }
  .drop:hover {
    overflow: visible;
    height: fit-content;
    z-index: 1000;
    transform: translateY(77px);
  }

  .drop:hover .btn {
    display: block;
  }

  .drop:hover li {
    background-color: var(--bg-main-col);
    padding: 5px 10px;
  }
}
