* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Biotif-regular;
  src: url("./Fonts/Biotif-Regular.ttf");
}

@font-face {
  font-family: Bogart-Medium;
  src: url("./Fonts/Bogart.ttf");
}

:root {
  --bg-main-col: rgb(21, 21, 21);
  --body-font: Biotif;
  --timeline-border: rgb(79 79 79);
}

body {
  color: aliceblue;
  background-color: var(--bg-main-col);
  font-family: Biotif-regular;
  min-height: 100vh;
  background-image: url("./img/World\ Map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.drop {
  overflow-y: hidden;
  height: 30px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 5px 10px;
  min-width: fit-content;
}

.nav ul li {
  padding: 5px 10px;
}

.nav ul:nth-child(2) {
  justify-content: center;
}

.nav ul:nth-child(3) {
  justify-content: right;
}

.btn-active {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.btn {
  transition: border-bottom 0.5s;
  cursor: pointer;
}

.btn:hover {
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.eye-outer {
  position: relative;
  padding: 1px 15px;
  background-color: aliceblue;
  border-radius: 50%;
}

.dot {
  position: absolute;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -100%);
}
.frame {
  top: 0px;
  left: 10px;
  position: absolute;
  padding: 11px 5px;
}

.pagearea {
  position: relative;
  max-width: 100%;
  min-height: 90vh;
  background-color: rgba(19, 19, 19, 0.552);
  backdrop-filter: blur(5px);
}

.more {
  display: none;
}

.page {
  display: none;
  max-width: 100%;

  height: 100%;
  border-radius: 20px;
  
  backdrop-filter: blur(5px);
  min-height: 100vh;
  padding: 20px 20px;

}

.main {
  padding: 20px 20px;
}

.gradient h2 {
  color: #fff;
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-family: Bogart-Medium;
  font-weight: 500;
}

.lid {
  transform: translate(3px, 6px);
  position: absolute;
  display: flex;
  gap: 6px;
  transition: transform 0.3s;
}

.lid span {
  padding: 5px 2px;
  border-radius: 10px;
  background-color: #ffffff;
}

.lid span:nth-child(1) {
  transform: rotate(-30deg);
}
.lid span:nth-child(3) {
  transform: rotate(30deg);
}

.translate-up-lid {
  transform: translate(3px, -12px);
}

.content {
  margin: auto auto;
  max-width: 800px;
  padding: 20px 20px;
}

tbody {
  display: flex;
  flex-direction: column;
}

.timeline {
  border-collapse: collapse;
  padding: 5px 10px;
  width: 100%;
}

.timeline tr {
  position: relative;
  padding: 20px 20px;
}

.no-border {
  margin: 50px 0px;
  border-top: 2px solid var(--timeline-border);
  border-bottom: 2px solid var(--timeline-border);
}

.timeline td {
  padding: 5px 10px;
}

.border {
  border-left: 2px solid var(--timeline-border);
}

.icon-img {
  width: 20px;
}

.icon-td img {
  width: 40px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, 15px);
}

.heading{
  font-size: 30px;
}

.center{
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardholder{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.card img{
  width: 60%;
  height: auto;
  object-fit: contain;
}

.card{
  max-width: 300px;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: rgba(41, 41, 41, 0.673);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 20px;
  overflow: hidden;
}


.card-title{
  font-size: 30px;
}

.card-content{
  font-size: 20px;
}

.card-button{
  display: flex;
  justify-content: center;
}


.avatar{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.avatar img{
  border-radius: 20px;
  border: 5px solid white;
  max-width: 400px;
}

.details{
  margin-top: 20px;
  background-color: #35353589;
  padding: 10px 20px;
  border-radius: 20px;
}

.details tbody{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details tr{
  border-left: 2px solid white;
}

.details td{
  padding: 5px 10px;
}

.three-dots{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
}

.three-dots li{
  padding: 5px 5px;
  background-color: inherit;
  cursor: pointer;
  border-radius: 50%;
}

.three-dots li:nth-child(1){
  background-color: #d13952;
}
.three-dots li:nth-child(2){
  background-color: #d1b237;
}
.three-dots li:nth-child(3){
  background-color: #97cf2f;
}

.three-dots ul{
  width: fit-content;
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: end;
}
















.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
  cursor: pointer;
 }
 
 .cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
 }
 
 .cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
 }
 
 .cssbuttons-io::before,
 .cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .cssbuttons-io::before {
  content: "";
  background: rgb(63, 63, 63);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 
 .cssbuttons-io:active {
  transform: scale(0.95);
 }

 







 

@media (max-width: 650px) {
  .more {
    display: block;
  }
  .drop {
    flex-direction: column;
    overflow: hidden;
  }
  .drop:hover {
    overflow: visible;
    height: fit-content;
    z-index: 1000;
    transform: translateY(77px);
  }

  .drop:hover .btn {
    display: block;
  }

  .drop:hover li {
    background-color: var(--bg-main-col);
    padding: 5px 10px;
  }
}
